<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">Bir şeyleri fazla veya hiç yapmadın hatta belki hiç yapmadın!</h3>
    </div>
</div>
</div></div></div>