<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <form method="POST">
      <br>
      <input type="text" id="mesaj" name="mesaj" placeholder="Rapor etme sebebini yazınız.">
   
        <button class="btn btn-danger" type="sumbit">Rapor Et</button>
      </form>
    </div>
</div>
</div>