<br>
<div class="footer" style="color:#2C2F33; border-radius:4px"> 
	<div class="footer_container" style="color:#2C2F33">
		<div id="kutu1">
			<b>Genel Sayfalar</b> 
			<ul>
        <li><a href="/" class="btn btn-default" style="background-color:#D49818; color:#fff"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a></li>
        <li><a href="https://discord.gg/KFKjXh7" class="btn btn-default" style="background-color:#D49818; color:#fff"><i class="fa fa-asterisk" aria-hidden="true"></i> Discord Sunucumuz</a></li>
			</ul>
		</div>
    
		<div id="kutu2" style="margin-left:150px;">
			<b>İletişim</b>
			<ul>
				<li><a href="https://discord.gg/KFKjXh7"><img src="https://1.bp.blogspot.com/-SPRkVDngoys/Xm5NDOMmJ2I/AAAAAAAAAp0/hFsW-QTdaasaOrzMKGTGn8LZ9zH22jVrACLcBGAsYHQ/s320/discord_logo1600.png" height="42" width="42" alt="discord-icon" /></a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:white">
 <strong>#PlagueCode</strong> ekibi tarafından geliştirilmiştir.
    </h6>
	</div>
</div>